<script src="<%= asset_path('js/modernizr-1.7.min.js') %>"></script>

<!-- BEGIN Comscore -->
<script>
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);
})();
</script>
<noscript>
<img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
</noscript>
<!-- END Comscore -->

<!-- Stats: WebTrends -->
<script src="http://media.scpr.org/assets/scripts/webtrends.v2.js"></script>
<script>
    //<![CDATA[
        var _tag=new WebTrends();
        _tag.dcsGetId();
    //]]>
</script>
<script>
    //<![CDATA[
        _tag.dcsCustom=function(){
            // Add custom parameters here.
            //_tag.DCSext.param_name=param_value;
        }
    _tag.dcsCollect();
    //]]>
</script>
<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsyqctzwuz5bdsebpmwhwe8w_2p8d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.scpr.org"/></div>
</noscript>
<!-- /WebTrends -->

<!-- Stats: Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-624724-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- /Google Analytics -->
